<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict/>
				<key>RWFileReferences</key>
				<dict>
					<key>00BC7CD2-8207-46B4-BA3F-063CF60BB88B</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3577.jpg</string>
						<key>identifier</key>
						<string>00BC7CD2-8207-46B4-BA3F-063CF60BB88B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/QGUmfQ/IMG_3577.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>4EABBCCE-E81D-487C-9105-2ADC4BB48DB6</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3210.jpg</string>
						<key>identifier</key>
						<string>4EABBCCE-E81D-487C-9105-2ADC4BB48DB6</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/dUnjgr/IMG_3210.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>52FC5A10-3D3E-464E-A58A-55071EAA68C0</key>
					<dict>
						<key>fileName</key>
						<string>profile2.jpg</string>
						<key>identifier</key>
						<string>52FC5A10-3D3E-464E-A58A-55071EAA68C0</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/KYJ4V4/profile2.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>5DFF4633-22BB-405C-9A1F-0247E80395CF</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3281.JPG</string>
						<key>identifier</key>
						<string>5DFF4633-22BB-405C-9A1F-0247E80395CF</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-51039/UTZe6F/IMG_3281.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>6B749794-CB3E-40C2-B785-4AFA7EB7DD19</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3323.jpg</string>
						<key>identifier</key>
						<string>6B749794-CB3E-40C2-B785-4AFA7EB7DD19</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/NwoROA/IMG_3323.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>6C1CD61C-056F-4713-BD15-C083A4D49C97</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3966.JPG</string>
						<key>identifier</key>
						<string>6C1CD61C-056F-4713-BD15-C083A4D49C97</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/p2FsdE/IMG_3966.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>7994F07E-DD92-4627-A91E-5C974F16658B</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3131.jpg</string>
						<key>identifier</key>
						<string>7994F07E-DD92-4627-A91E-5C974F16658B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/gjcvv1/IMG_3131.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>8F5D3AE6-C9A1-443E-9338-CF823E511501</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3807.JPG</string>
						<key>identifier</key>
						<string>8F5D3AE6-C9A1-443E-9338-CF823E511501</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/sj61qJ/IMG_3807.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>A50A8A8A-1D90-427D-B36C-007E88BBF015</key>
					<dict>
						<key>fileName</key>
						<string>IMG_2686.jpg</string>
						<key>identifier</key>
						<string>A50A8A8A-1D90-427D-B36C-007E88BBF015</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/77Kf0R/IMG_2686.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>A7E268B4-0FC6-418C-89C6-1ACC1396CA0B</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3867.JPG</string>
						<key>identifier</key>
						<string>A7E268B4-0FC6-418C-89C6-1ACC1396CA0B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/6q0phA/IMG_3867.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>B7AF09CE-DE01-4EAE-8FF2-29F328F8F80E</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3636.jpg</string>
						<key>identifier</key>
						<string>B7AF09CE-DE01-4EAE-8FF2-29F328F8F80E</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/kXyoqE/IMG_3636.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>CB65C65E-96AD-4214-A50B-72FEB32C152B</key>
					<dict>
						<key>fileName</key>
						<string>IMG_2619.jpg</string>
						<key>identifier</key>
						<string>CB65C65E-96AD-4214-A50B-72FEB32C152B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/xphbQO/IMG_2619.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>CC19A05D-3E26-43BC-90B7-A8E7CE332FAC</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3393.jpg</string>
						<key>identifier</key>
						<string>CC19A05D-3E26-43BC-90B7-A8E7CE332FAC</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/vajE4C/IMG_3393.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>CDC129D8-16B3-4DBA-960C-C4B520741FB0</key>
					<dict>
						<key>fileName</key>
						<string>IMG_1195.jpg</string>
						<key>identifier</key>
						<string>CDC129D8-16B3-4DBA-960C-C4B520741FB0</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/tiotHF/IMG_1195.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>CEE6E144-7F1A-40E0-9A82-7E933F314141</key>
					<dict>
						<key>fileName</key>
						<string>IMG_4240.jpg</string>
						<key>identifier</key>
						<string>CEE6E144-7F1A-40E0-9A82-7E933F314141</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/GfTm11/IMG_4240.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>D1A4915D-1BF8-4481-B7C5-A9E753FCCFEB</key>
					<dict>
						<key>fileName</key>
						<string>IMG_1413.jpg</string>
						<key>identifier</key>
						<string>D1A4915D-1BF8-4481-B7C5-A9E753FCCFEB</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/VWGKG5/IMG_1413.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>D96F0EB5-9E2A-416F-BB2E-D283FD873F09</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3801.JPG</string>
						<key>identifier</key>
						<string>D96F0EB5-9E2A-416F-BB2E-D283FD873F09</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-51039/kWoMiH/IMG_3801.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>D9A72EF2-0C97-4173-B04A-3E3E765B5E70</key>
					<dict>
						<key>fileName</key>
						<string>IMG_1282.jpg</string>
						<key>identifier</key>
						<string>D9A72EF2-0C97-4173-B04A-3E3E765B5E70</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/UkUquy/IMG_1282.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>DE47854D-0117-44AE-8A68-01DC745B4E56</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3924.jpg</string>
						<key>identifier</key>
						<string>DE47854D-0117-44AE-8A68-01DC745B4E56</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/Qn0owc/IMG_3924.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>EC4A1DF5-7D2D-4E01-BF4E-15F1C3C05974</key>
					<dict>
						<key>fileName</key>
						<string>IMG_1172.jpg</string>
						<key>identifier</key>
						<string>EC4A1DF5-7D2D-4E01-BF4E-15F1C3C05974</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/9Pg7Hm/IMG_1172.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>F800D5E8-B54D-41E4-9AB1-882DC393E682</key>
					<dict>
						<key>fileName</key>
						<string>IMG_1162.jpg</string>
						<key>identifier</key>
						<string>F800D5E8-B54D-41E4-9AB1-882DC393E682</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/0flQqU/IMG_1162.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>F86B6ED8-4CF4-4CC5-B1DD-0FAD0F89F0F9</key>
					<dict>
						<key>fileName</key>
						<string>IMG_0729.JPG</string>
						<key>identifier</key>
						<string>F86B6ED8-4CF4-4CC5-B1DD-0FAD0F89F0F9</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-51039/jQloYF/IMG_0729.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lv
				blkkYXJjaGl2ZXJUJHRvcFgkb2JqZWN0cxIAAYagXxAP
				TlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxCoAAsA
				DAAVABYAIAAhACIAJQAsAEUAWABZAFoAWwBfAGIAZgBq
				AGsAbwB6AHsAfAB9AIAAhACFAJAAkQCSAJMAlgCaAJsA
				pgCnAKgAqQCsALAAsQC8AL0AvgC/AMIAxgDHANIA0wDU
				ANUA2ADcAN0A6ADpAOoA6wDuAPIA8wD+AP8BAAEBAQQB
				CAEJARQBFQEWARcBGgEeAR8BKgErASwBLQEwATQBNQFA
				AUEBQgFDAUYBSgFLAVYBVwFYAVkBXAFgAWEBbAFtAW4B
				bwFyAXYBdwGCAYMBhAGFAYgBjAGNAZgBmQGaAZsBngGi
				AaMBrgGvAbABsQG0AbgBuQHEAcUBxgHHAcoBzgHPAdoB
				2wHcAd0B4AHkAeUB8AHxAfIB8wH2AfoB+wIGAgcCCAIJ
				AgwCEAIRAhwCHQIeAh8CIgImAicCMgIzAjQCNQI4AjwC
				PQJBVSRudWxs0wANAA4ADwAQABIAFFdOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzoQARgAKhABOAA4CnVG5vZGXV
				ABcAGAAZABoADwAbABwAHQAeAB9UTmFtZVVpdGVtc1pp
				ZGVudGlmaWVyWGNoaWxkcmVugAWACIAEgAaApl8QJDAx
				MEQ5NzM0LTQzMUUtNDhEMi1CMEFBLTgzNDZGODhDMkU0
				Rl8QD1VudGl0bGVkIEZvbGRlctIADgAPACMAJKCAB9IA
				JgAnACgAKVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0
				YWJsZUFycmF5owAoACoAK1dOU0FycmF5WE5TT2JqZWN0
				0gAOAA8ALQAkrxAWAC4ALwAwADEAMgAzADQANQA2ADcA
				OAA5ADoAOwA8AD0APgA/AEAAQQBCAEOACYATgBqAIYAo
				gC+ANoA9gESAS4BSgFmAYIBngG6AdYB8gIOAioCRgJiA
				n4AH2gBGAEcADwBIAEkASgAXAEsATABNAE4ATwBQAFEA
				UQBTAFQAVQBWAFdeUmVtb3RlUmVzb3VyY2VbT3JpZ2lu
				YWxVUkxcUHVibGlzaGVkVVJMXVB1Ymxpc2hlZERhdGVf
				EA9DaGFuZ2VkU3RhdHVzZXNaSWRlbnRpZmllcllUaW1l
				U3RhbXBZRmlsZVRva2VuCIARgBKAAIAAgA+AC4AKgA2A
				DF8QJEIxOTEzREVFLUUyNkQtNEJCNS05ODc1LUU1RTJD
				RDE1NTYwRl8QD21hcmluYS13LXBvbmNob18QJDVERkY0
				NjMzLTIyQkItNDA1Qy05QTFGLTAyNDdFODAzOTVDRtIA
				XAAPAF0AXldOUy50aW1lI0HEJzkTGbPPgA7SACYAJwBg
				AGFWTlNEYXRlogBgACvTAA0ADgAPAGMAZABloKCAENIA
				JgAnAGcAaF8QE05TTXV0YWJsZURpY3Rpb25hcnmjAGcA
				aQArXE5TRGljdGlvbmFyeV8QKi9Vc2Vycy9raW1iZXJs
				eWNoYW4vRG93bmxvYWRzL0lNR18zMjgxLkpQR9IAJgAn
				AGwAbV5SV1NpdGVSZXNvdXJjZaIAbgArXlJXU2l0ZVJl
				c291cmNl2gBGAEcADwBIAEkASgAXAEsATABNAE4AcQBQ
				AFEAUQB1AHYAdwB4AHkIgBmAEoAAgACAGIAVgBSAF4AW
				XxAkNTY2QjBGMjEtMjJCQS00OENGLTk3MDQtNUNCMEIy
				MEI1NzgzW2dsYXNzLWJlYWNoXxAkRDk2RjBFQjUtOUUy
				QS00MTZGLUJCMkUtRDI4M0ZEODczRjA50gBcAA8AfgBe
				I0HEJzr4XU66gA7TAA0ADgAPAIEAggBloKCAEF8QKi9V
				c2Vycy9raW1iZXJseWNoYW4vRG93bmxvYWRzL0lNR18z
				ODAxLkpQR9oARgBHAA8ASABJAEoAFwBLAEwATQBOAIcA
				UABRAFEAiwCMAI0AjgCPCIAggBKAAIAAgB+AHIAbgB6A
				HV8QJEJGNjg1Q0FDLTM2NkYtNDhCRC05QkI0LTM2MjJB
				ODFGQUVCQllhc2lhbi1hcnRfECRCN0FGMDlDRS1ERTAx
				LTRFQUUtOEZGMi0yOUYzMjhGOEY4MEXSAFwADwCUAF4j
				QcQoDl1AFe2ADtMADQAOAA8AlwCYAGWgoIAQXxAqL1Vz
				ZXJzL2tpbWJlcmx5Y2hhbi9Eb3dubG9hZHMvSU1HXzM2
				MzYuanBn2gBGAEcADwBIAEkASgAXAEsATABNAE4AnQBQ
				AFEAUQChAKIAowCkAKUIgCeAEoAAgACAJoAjgCKAJYAk
				XxAkMjRFQ0RBRDAtQ0NEQS00ODdDLUJBNzAtQ0YyNzk3
				REVDQjk5XxATM2RiZW5jaHktYmx1ZW1hcmJsZV8QJDAw
				QkM3Q0QyLTgyMDctNDZCNC1CQTNGLTA2M0NGNjBCQjg4
				QtIAXAAPAKoAXiNBxCgOXT/TGYAO0wANAA4ADwCtAK4A
				ZaCggBBfECovVXNlcnMva2ltYmVybHljaGFuL0Rvd25s
				b2Fkcy9JTUdfMzU3Ny5qcGfaAEYARwAPAEgASQBKABcA
				SwBMAE0ATgCzAFAAUQBRALcAuAC5ALoAuwiALoASgACA
				AIAtgCqAKYAsgCtfECQyNTEzRjA2Ni1CRkFCLTRENUMt
				OTJDRi0xQUE5MTI1NzI2OENUemlvbl8QJENDMTlBMDVE
				LTNFMjYtNDNCQy05MEI3LUE4RTdDRTMzMkZBQ9IAXAAP
				AMAAXiNBxCgOXT+Ni4AO0wANAA4ADwDDAMQAZaCggBBf
				ECovVXNlcnMva2ltYmVybHljaGFuL0Rvd25sb2Fkcy9J
				TUdfMzM5My5qcGfaAEYARwAPAEgASQBKABcASwBMAE0A
				TgDJAFAAUQBRAM0AzgDPANAA0QiANYASgACAAIA0gDGA
				MIAzgDJfECRCQUYxNEUzRi1GNDczLTQ5NEItOTVFNi0z
				MkYyMzJGMjA4RTBYbWUtbGxhbWFfECQ2Qjc0OTc5NC1D
				QjNFLTQwQzItQjc4NS00QUZBN0VCN0REMTnSAFwADwDW
				AF4jQcQoDl0/SVKADtMADQAOAA8A2QDaAGWgoIAQXxAq
				L1VzZXJzL2tpbWJlcmx5Y2hhbi9Eb3dubG9hZHMvSU1H
				XzMzMjMuanBn2gBGAEcADwBIAEkASgAXAEsATABNAE4A
				3wBQAFEAUQDjAOQA5QDmAOcIgDyAEoAAgACAO4A4gDeA
				OoA5XxAkMkVERDdFOTMtQTc5RC00QUJELThBODAtRTZB
				RDM5NjQ5Njk3XW1hcmluYS1zdW5zZXRfECQ0RUFCQkND
				RS1FODFELTQ4N0MtOTEwNS0yQURDNEJCNDhEQjbSAFwA
				DwDsAF4jQcQoDl0+/POADtMADQAOAA8A7wDwAGWgoIAQ
				XxAqL1VzZXJzL2tpbWJlcmx5Y2hhbi9Eb3dubG9hZHMv
				SU1HXzMyMTAuanBn2gBGAEcADwBIAEkASgAXAEsATABN
				AE4A9QBQAFEAUQD5APoA+wD8AP0IgEOAEoAAgACAQoA/
				gD6AQYBAXxAkREU2REI0MzktRkRGNi00OUJGLUE0MTEt
				ODEwOUVDRTYwMDFDXxAQYmFtcGZhLW11cmFsMjAyMV8Q
				JDc5OTRGMDdFLUREOTItNDYyNy1BOTFFLTVDOTc0RjE2
				NjU4QtIAXAAPAQIAXiNBxCgOXT62SIAO0wANAA4ADwEF
				AQYAZaCggBBfECovVXNlcnMva2ltYmVybHljaGFuL0Rv
				d25sb2Fkcy9JTUdfMzEzMS5qcGfaAEYARwAPAEgASQBK
				ABcASwBMAE0ATgELAFAAUQBRAQ8BEAERARIBEwiASoAS
				gACAAIBJgEaARYBIgEdfECRCNDVGQjM0MC03RENCLTRF
				MzUtOTZEMC00MkEwMjQyNTc2OTZacGxhc21hLWpldF8Q
				JEE1MEE4QThBLTFEOTAtNDI3RC1CMzZDLTAwN0U4OEJC
				RjAxNdIAXAAPARgAXiNBxCgOXT5tzYAO0wANAA4ADwEb
				ARwAZaCggBBfECovVXNlcnMva2ltYmVybHljaGFuL0Rv
				d25sb2Fkcy9JTUdfMjY4Ni5qcGfaAEYARwAPAEgASQBK
				ABcASwBMAE0ATgEhAFAAUQBRASUBJgEnASgBKQiAUYAS
				gACAAIBQgE2ATIBPgE5fECQ4OUJCN0I0RC05RThFLTRC
				MDEtQkE5RC1GQjdDQkJCMTJDNTlbYmFieS1kcmFnb25f
				ECRDQjY1QzY1RS05NkFELTQyMTQtQTUwQi03MkZFQjMy
				QzE1MkLSAFwADwEuAF4jQcQoDl0+KGmADtMADQAOAA8B
				MQEyAGWgoIAQXxAqL1VzZXJzL2tpbWJlcmx5Y2hhbi9E
				b3dubG9hZHMvSU1HXzI2MTkuanBn2gBGAEcADwBIAEkA
				SgAXAEsATABNAE4BNwBQAFEAUQE7ATwBPQE+AT8IgFiA
				EoAAgACAV4BUgFOAVoBVXxAkMTUzNTlBQ0YtQjBGRS00
				OTRFLTkzNEEtMzBFQzFBMEI2MEU4XjNkYmVuY2h5LXdo
				aXRlXxAkRDFBNDkxNUQtMUJGOC00NDgxLUI3QzUtQTlF
				NzUzRkNDRkVC0gBcAA8BRABeI0HEKA5dPdujgA7TAA0A
				DgAPAUcBSABloKCAEF8QKi9Vc2Vycy9raW1iZXJseWNo
				YW4vRG93bmxvYWRzL0lNR18xNDEzLmpwZ9oARgBHAA8A
				SABJAEoAFwBLAEwATQBOAU0AUABRAFEBUQFSAVMBVAFV
				CIBfgBKAAIAAgF6AW4BagF2AXF8QJDUwMDRFNzhDLTVG
				QTEtNDZCQy04M0FGLTlBNjExNDY3OUY3Q11yYi1taWxr
				LWJyZWFkXxAkRDlBNzJFRjItMEM5Ny00MTczLUIwNEEt
				M0UzRTc2NUI1RTcw0gBcAA8BWgBeI0HEKA5dPYfjgA7T
				AA0ADgAPAV0BXgBloKCAEF8QKi9Vc2Vycy9raW1iZXJs
				eWNoYW4vRG93bmxvYWRzL0lNR18xMjgyLmpwZ9oARgBH
				AA8ASABJAEoAFwBLAEwATQBOAWMAUABRAFEBZwFoAWkB
				agFrCIBmgBKAAIAAgGWAYoBhgGSAY18QJDdGMzhBRjZE
				LTNEOEYtNEExNC05QjE1LUIzQTkxQkJCOEM2MV8QD2No
				aWNrZW4tbWFyc2FsYV8QJENEQzEyOUQ4LTE2QjMtNERC
				QS05NjBDLUM0QjUyMDc0MUZCMNIAXAAPAXAAXiNBxCgO
				XT06pIAO0wANAA4ADwFzAXQAZaCggBBfECovVXNlcnMv
				a2ltYmVybHljaGFuL0Rvd25sb2Fkcy9JTUdfMTE5NS5q
				cGfaAEYARwAPAEgASQBKABcASwBMAE0ATgF5AFAAUQBR
				AX0BfgF/AYABgQiAbYASgACAAIBsgGmAaIBrgGpfECQz
				NkUwNDcyNC00MjkxLTQwN0EtOEZFNi00OTUxODAwOEU4
				RUNZcG9yay1jaG9wXxAkRUM0QTFERjUtN0QyRC00RTAx
				LUJGNEUtMTVGMUMzQzA1OTc00gBcAA8BhgBeI0HEKA5d
				POq3gA7TAA0ADgAPAYkBigBloKCAEF8QKi9Vc2Vycy9r
				aW1iZXJseWNoYW4vRG93bmxvYWRzL0lNR18xMTcyLmpw
				Z9oARgBHAA8ASABJAEoAFwBLAEwATQBOAY8AUABRAFEB
				kwGUAZUBlgGXCIB0gBKAAIAAgHOAcIBvgHKAcV8QJEUw
				NTJGNDMyLUMzRTctNEE2RC1CQjI2LTVCODY4M0Y4QTQz
				Rl8QEXRoYW5rc2dpdmluZy1mb29kXxAkRjgwMEQ1RTgt
				QjU0RC00MUU0LTlBQjEtODgyREMzOTNFNjgy0gBcAA8B
				nABeI0HEKA5dPFdygA7TAA0ADgAPAZ8BoABloKCAEF8Q
				Ki9Vc2Vycy9raW1iZXJseWNoYW4vRG93bmxvYWRzL0lN
				R18xMTYyLmpwZ9oARgBHAA8ASABJAEoAFwBLAEwATQBO
				AaUAUABRAFEBqQGqAasBrAGtCIB7gBKAAIAAgHqAd4B2
				gHmAeF8QJDE5Mzc1MDM0LUI1MDMtNDQ3Ni1BMkQ1LTky
				ODI4RDMzMUUxQ18QEHBhY2lmaWNhLXByb2ZpbGVfECRG
				ODZCNkVEOC00Q0Y0LTRDQzUtQjFERC0wRkFEMEY4OUYw
				RjnSAFwADwGyAF4jQcQnQ1FDjKuADtMADQAOAA8BtQG2
				AGWgoIAQXxAqL1VzZXJzL2tpbWJlcmx5Y2hhbi9Eb3du
				bG9hZHMvSU1HXzA3MjkuSlBH2gBGAEcADwBIAEkASgAX
				AEsATABNAE4BuwBQAFEAUQG/AcABwQHCAcMIgIKAEoAA
				gACAgYB+gH2AgIB/XxAkNjIyNzNGMzUtMDZDNC00QkI1
				LTk5QkEtODJEMEY1M0U3RDE3XHJlZHdvb2QtaGlrZV8Q
				JDhGNUQzQUU2LUM5QTEtNDQzRS05MzM4LUNGODIzRTUx
				MTUwMdIAXAAPAcgAXiNBxCgFMadY1YAO0wANAA4ADwHL
				AcwAZaCggBBfECovVXNlcnMva2ltYmVybHljaGFuL0Rv
				d25sb2Fkcy9JTUdfMzgwNy5KUEfaAEYARwAPAEgASQBK
				ABcASwBMAE0ATgHRAFAAUQBRAdUB1gHXAdgB2QiAiYAS
				gACAAICIgIWAhICHgIZfECRGRTBEMkEwRi1CMjEwLTRD
				QTctQTY5RC0yRkIwMTc0MDE5QURXaG90LXBvdF8QJEE3
				RTI2OEI0LTBGQzYtNDE4Qy04OUM2LTFBQ0MxMzk2Q0Ew
				QtIAXAAPAd4AXiNBxCgFMafBOIAO0wANAA4ADwHhAeIA
				ZaCggBBfECovVXNlcnMva2ltYmVybHljaGFuL0Rvd25s
				b2Fkcy9JTUdfMzg2Ny5KUEfaAEYARwAPAEgASQBKABcA
				SwBMAE0ATgHnAFAAUQBRAesB7AHtAe4B7wiAkIASgACA
				AICPgIyAi4COgI1fECQzMDRDRUU4Ri03RjEyLTQwNkYt
				QkFEQS0xRjE2QjlCM0YzRkNcbmV2YWRhLWZhbGxzXxAk
				NkMxQ0Q2MUMtMDU2Ri00NzEzLUJEMTUtQzA4M0E0RDQ5
				Qzk30gBcAA8B9ABeI0HEKAUxqJDYgA7TAA0ADgAPAfcB
				+ABloKCAEF8QKi9Vc2Vycy9raW1iZXJseWNoYW4vRG93
				bmxvYWRzL0lNR18zOTY2LkpQR9oARgBHAA8ASABJAEoA
				FwBLAEwATQBOAf0AUABRAFECAQICAgMCBAIFCICXgBKA
				AIAAgJaAk4CSgJWAlF8QJDc2NDJGQzQwLUIzRDYtNEE3
				Ri1COUFGLUY1RTlBNzNDRkU5Ql1zYW50YS1jcnV6LW1l
				XxAkQ0VFNkUxNDQtN0YxQS00MEUwLTlBODItN0U5MzNG
				MzE0MTQx0gBcAA8CCgBeI0HEKA5yhpKFgA7TAA0ADgAP
				Ag0CDgBloKCAEF8QKi9Vc2Vycy9raW1iZXJseWNoYW4v
				RG93bmxvYWRzL0lNR180MjQwLmpwZ9oARgBHAA8ASABJ
				AEoAFwBLAEwATQBOAhMAUABRAFECFwIYAhkCGgIbCICe
				gBKAAIAAgJ2AmoCZgJyAm18QJDE3QTAwRDkzLTBGQkYt
				NEEwNi04OTc4LTY1Q0I0QjQ3Q0U4NFx2ZXJuYWwtZmFs
				bHNfECRERTQ3ODU0RC0wMTE3LTQ0QUUtOEE2OC0wMURD
				NzQ1QjRFNTbSAFwADwIgAF4jQcQoDnKF7uiADtMADQAO
				AA8CIwIkAGWgoIAQXxAqL1VzZXJzL2tpbWJlcmx5Y2hh
				bi9Eb3dubG9hZHMvSU1HXzM5MjQuanBn2gBGAEcADwBI
				AEkASgAXAEsATABNAE4CKQBQAFEAUQItAi4CLwIwAjEI
				gKWAEoAAgACApIChgKCAo4CiXxAkRDlCQjIwMDgtQjc1
				Qi00Njk1LUFDRjUtMTQyRkQzRjNDMTYyXHByb2ZpbGUy
				LmpwZ18QJDUyRkM1QTEwLTNEM0UtNDY0RS1BNThBLTU1
				MDcxRUFBNjhDMNIAXAAPAjYAXiNBxCgHciaXcoAO0wAN
				AA4ADwI5AjoAZaCggBBfECgvVXNlcnMva2ltYmVybHlj
				aGFuL0Rlc2t0b3AvcHJvZmlsZTIuanBn0gAmACcCPgI/
				XFJXU2l0ZUZvbGRlcqICQAArXFJXU2l0ZUZvbGRlctIA
				JgAnAGkCQqIAaQArAAgAGQAiACwAMQA6AD8AUQBWAFsA
				XQGwAbYBwwHLAdYB3QHgAeIB5QHnAekB7gIDAggCDgIZ
				AiICJAImAigCKgIsAlMCZQJuAm8CcQJ6AoUCjgKdAqQC
				rAK1Ar4C7QLvAvEC8wL1AvcC+QL7Av0C/wMBAwMDBQMH
				AwkDCwMNAw8DEQMTAxUDFwMZAxsDRANTA18DbAN6A4wD
				lwOhA6sDrAOuA7ADsgO0A7YDuAO6A7wDvgPlA/cEHgQn
				BC8EOAQ6BEMESgRPBFwEXQReBGAEaQR/BIYEkwTABMkE
				2ATdBOwFFQUWBRgFGgUcBR4FIAUiBSQFJgUoBU8FWwWC
				BYsFlAWWBaMFpAWlBacF1AX9Bf4GAAYCBgQGBgYIBgoG
				DAYOBhAGNwZBBmgGcQZ6BnwGiQaKBosGjQa6BuMG5Abm
				BugG6gbsBu4G8AbyBvQG9gcdBzMHWgdjB2wHbgd7B3wH
				fQd/B6wH1QfWB9gH2gfcB94H4AfiB+QH5gfoCA8IFAg7
				CEQITQhPCFwIXQheCGAIjQi2CLcIuQi7CL0IvwjBCMMI
				xQjHCMkI8Aj5CSAJKQkyCTQJQQlCCUMJRQlyCZsJnAme
				CaAJogmkCaYJqAmqCawJrgnVCeMKCgoTChwKHgorCiwK
				LQovClwKhQqGCogKigqMCo4KkAqSCpQKlgqYCr8K0gr5
				CwILCwsNCxoLGwscCx4LSwt0C3ULdwt5C3sLfQt/C4EL
				gwuFC4cLrgu5C+AL6QvyC/QMAQwCDAMMBQwyDFsMXAxe
				DGAMYgxkDGYMaAxqDGwMbgyVDKEMyAzRDNoM3AzpDOoM
				6wztDRoNQw1EDUYNSA1KDUwNTg1QDVINVA1WDX0NjA2z
				DbwNxQ3HDdQN1Q3WDdgOBQ4uDi8OMQ4zDjUONw45DjsO
				PQ4/DkEOaA52Dp0Opg6vDrEOvg6/DsAOwg7vDxgPGQ8b
				Dx0PHw8hDyMPJQ8nDykPKw9SD2QPiw+UD50Pnw+sD60P
				rg+wD90QBhAHEAkQCxANEA8QERATEBUQFxAZEEAQShBx
				EHoQgxCFEJIQkxCUEJYQwxDsEO0Q7xDxEPMQ9RD3EPkQ
				+xD9EP8RJhE6EWERahFzEXURghGDEYQRhhGzEdwR3RHf
				EeER4xHlEecR6RHrEe0R7xIWEikSUBJZEmISZBJxEnIS
				cxJ1EqISyxLMEs4S0BLSEtQS1hLYEtoS3BLeEwUTEhM5
				E0ITSxNNE1oTWxNcE14TixO0E7UTtxO5E7sTvRO/E8ET
				wxPFE8cT7hP2FB0UJhQvFDEUPhQ/FEAUQhRvFJgUmRSb
				FJ0UnxShFKMUpRSnFKkUqxTSFN8VBhUPFRgVGhUnFSgV
				KRUrFVgVgRWCFYQVhhWIFYoVjBWOFZAVkhWUFbsVyRXw
				FfkWAhYEFhEWEhYTFhUWQhZrFmwWbhZwFnIWdBZ2FngW
				ehZ8Fn4WpRayFtkW4hbrFu0W+hb7FvwW/hcrF1QXVRdX
				F1kXWxddF18XYRdjF2UXZxeOF5sXwhfLF9QX1hfjF+QX
				5RfnGBIYGxgoGC0YOhhDAAAAAAAAAgIAAAAAAAACQwAA
				AAAAAAAAAAAAAAAAGEg=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<true/>
					<key>BannerIdentifier</key>
					<string>566B0F21-22BA-48CF-9704-5CB0B20B5783</string>
					<key>BaseURL</key>
					<string>https://kchan45.github.io/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2022 Kimberly Chan</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.html</string>
						<string>index.htm</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Theme Default</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>hasPublishedContent</key>
							<false/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Github Pages</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string>https://kchan45.github.io</string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>1</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteBannerAltText</key>
					<string>picture of me at the glass beach in northern california</string>
					<key>SiteLogoIdentifier</key>
					<string>D9BB2008-B75B-4695-ACF5-142FD3F3C162</string>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Artful</string>
					<key>TitleText</key>
					<string>Kimberly Chan's Personal Website</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>576D6AA1-C791-4355-A692-F98892AA8CAE_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAGlCwwRFx5VJG51bGzSDQ4PEFpkaWN0aW9u
					YXJ5ViRjbGFzc4ACgATTEhMOFBUWV05TLmtl
					eXNaTlMub2JqZWN0c6CggAPSGBkaG1okY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMaHB1cTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN00hgZHyBeV2ViSWNvblBhY2th
					Z2WiIR1eV2ViSWNvblBhY2thZ2UACAARABoA
					JAApADIANwBJAEwAUQBTAFkAXwBkAG8AdgB4
					AHoAgQCJAJQAlQCWAJgAnQCoALEAxwDLANgA
					4QDmAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>twitterAccount</key>
					<string>@savage_kchan</string>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
