<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict/>
				<key>RWFileReferences</key>
				<dict>
					<key>14BE9A0F-6FB7-495B-BF47-B3CBC0F5E259</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3131.HEIC</string>
						<key>identifier</key>
						<string>14BE9A0F-6FB7-495B-BF47-B3CBC0F5E259</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/8ZFZsG/IMG_3131.HEIC</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>2D28280E-5AAC-45FE-9101-811B30E951E9</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3577.HEIC</string>
						<key>identifier</key>
						<string>2D28280E-5AAC-45FE-9101-811B30E951E9</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/G6qiqD/IMG_3577.HEIC</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>2F51024B-2829-4971-899E-4ABFAB63DC73</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3393.heic</string>
						<key>identifier</key>
						<string>2F51024B-2829-4971-899E-4ABFAB63DC73</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/vwzH5r/IMG_3393.heic</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>41A7A0FC-717E-462F-A7CE-4B7A2D93D08D</key>
					<dict>
						<key>fileName</key>
						<string>IMG_1162.HEIC</string>
						<key>identifier</key>
						<string>41A7A0FC-717E-462F-A7CE-4B7A2D93D08D</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/BQULWP/IMG_1162.HEIC</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>52FC5A10-3D3E-464E-A58A-55071EAA68C0</key>
					<dict>
						<key>fileName</key>
						<string>profile2.jpg</string>
						<key>identifier</key>
						<string>52FC5A10-3D3E-464E-A58A-55071EAA68C0</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/KYJ4V4/profile2.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>5DFF4633-22BB-405C-9A1F-0247E80395CF</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3281.JPG</string>
						<key>identifier</key>
						<string>5DFF4633-22BB-405C-9A1F-0247E80395CF</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-51039/UTZe6F/IMG_3281.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>6C1CD61C-056F-4713-BD15-C083A4D49C97</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3966.JPG</string>
						<key>identifier</key>
						<string>6C1CD61C-056F-4713-BD15-C083A4D49C97</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/p2FsdE/IMG_3966.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>6FFF1F2E-2685-425E-910C-24BEE7A4E57F</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3924.HEIC</string>
						<key>identifier</key>
						<string>6FFF1F2E-2685-425E-910C-24BEE7A4E57F</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/662tAd/IMG_3924.HEIC</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>820C4231-14F5-45A5-B769-A1218FA3FEF0</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3636.HEIC</string>
						<key>identifier</key>
						<string>820C4231-14F5-45A5-B769-A1218FA3FEF0</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/319XC8/IMG_3636.HEIC</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>8F5D3AE6-C9A1-443E-9338-CF823E511501</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3807.JPG</string>
						<key>identifier</key>
						<string>8F5D3AE6-C9A1-443E-9338-CF823E511501</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/sj61qJ/IMG_3807.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>95586B03-070E-41EF-BF33-C8EC528A1C92</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3323.HEIC</string>
						<key>identifier</key>
						<string>95586B03-070E-41EF-BF33-C8EC528A1C92</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/3j9009/IMG_3323.HEIC</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>9597C9A0-AE47-48A0-8EA4-9CDD1337D72E</key>
					<dict>
						<key>fileName</key>
						<string>IMG_2619.HEIC</string>
						<key>identifier</key>
						<string>9597C9A0-AE47-48A0-8EA4-9CDD1337D72E</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/T9MSNp/IMG_2619.HEIC</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>A7E268B4-0FC6-418C-89C6-1ACC1396CA0B</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3867.JPG</string>
						<key>identifier</key>
						<string>A7E268B4-0FC6-418C-89C6-1ACC1396CA0B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/6q0phA/IMG_3867.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>BCAE8742-0299-424D-B13B-376F23882E5F</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3210.HEIC</string>
						<key>identifier</key>
						<string>BCAE8742-0299-424D-B13B-376F23882E5F</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/BQSiN0/IMG_3210.HEIC</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>C84826AA-77C4-4694-BA50-6CDEFACA0B95</key>
					<dict>
						<key>fileName</key>
						<string>IMG_1195 2.HEIC</string>
						<key>identifier</key>
						<string>C84826AA-77C4-4694-BA50-6CDEFACA0B95</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/qyavkR/IMG_1195 2.HEIC</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>D766D938-57AD-4B0B-A88C-75C1189EFFA7</key>
					<dict>
						<key>fileName</key>
						<string>IMG_1413.HEIC</string>
						<key>identifier</key>
						<string>D766D938-57AD-4B0B-A88C-75C1189EFFA7</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/dodU10/IMG_1413.HEIC</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>D96F0EB5-9E2A-416F-BB2E-D283FD873F09</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3801.JPG</string>
						<key>identifier</key>
						<string>D96F0EB5-9E2A-416F-BB2E-D283FD873F09</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-51039/kWoMiH/IMG_3801.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>DCABE3BE-6E36-47A5-8E8C-AAAD5BF58238</key>
					<dict>
						<key>fileName</key>
						<string>IMG_4240.HEIC</string>
						<key>identifier</key>
						<string>DCABE3BE-6E36-47A5-8E8C-AAAD5BF58238</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-78374/Dy3rrs/IMG_4240.HEIC</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>F86B6ED8-4CF4-4CC5-B1DD-0FAD0F89F0F9</key>
					<dict>
						<key>fileName</key>
						<string>IMG_0729.JPG</string>
						<key>identifier</key>
						<string>F86B6ED8-4CF4-4CC5-B1DD-0FAD0F89F0F9</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-51039/jQloYF/IMG_0729.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lv
				blkkYXJjaGl2ZXJUJHRvcFgkb2JqZWN0cxIAAYagXxAP
				TlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxCTAAsA
				DAAVABYAIAAhACIAJQAsAEIAVQBWAFcAWABcAF8AYwBn
				AGgAbAB3AHgAeQB6AH0AgQCCAI0AjgCPAJAAkwCXAJgA
				owCkAKUApgCpAK0ArgC5ALoAuwC8AL8AwwDEAM8A0ADR
				ANIA1QDZANoA5QDmAOcA6ADrAO8A8AD7APwA/QD+AQEB
				BQEGAREBEgETARQBFwEbARwBJwEoASkBKgEtATEBMgE9
				AT4BPwFAAUMBRwFIAVMBVAFVAVYBWQFdAV4BaQFqAWsB
				bAFvAXMBdAF/AYABgQGCAYUBiQGKAZUBlgGXAZgBmwGf
				AaABqwGsAa0BrgGxAbUBtgHBAcIBwwHEAccBywHMAdcB
				2AHZAdoB3QHhAeIB7QHuAe8B8AHzAfcB+AH8VSRudWxs
				0wANAA4ADwAQABIAFFdOUy5rZXlzWk5TLm9iamVjdHNW
				JGNsYXNzoQARgAKhABOAA4CSVG5vZGXVABcAGAAZABoA
				DwAbABwAHQAeAB9UTmFtZVVpdGVtc1ppZGVudGlmaWVy
				WGNoaWxkcmVugAWACIAEgAaAkV8QJDAxMEQ5NzM0LTQz
				MUUtNDhEMi1CMEFBLTgzNDZGODhDMkU0Rl8QD1VudGl0
				bGVkIEZvbGRlctIADgAPACMAJKCAB9IAJgAnACgAKVok
				Y2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJsZUFycmF5
				owAoACoAK1dOU0FycmF5WE5TT2JqZWN00gAOAA8ALQAk
				rxATAC4ALwAwADEAMgAzADQANQA2ADcAOAA5ADoAOwA8
				AD0APgA/AECACYATgBqAIYAogC+ANoA9gESAS4BSgFmA
				YIBngG6AdYB8gIOAioAH2gBDAEQADwBFAEYARwAXAEgA
				SQBKAEsATABNAE4ATgBQAFEAUgBTAFReUmVtb3RlUmVz
				b3VyY2VbT3JpZ2luYWxVUkxcUHVibGlzaGVkVVJMXVB1
				Ymxpc2hlZERhdGVfEA9DaGFuZ2VkU3RhdHVzZXNaSWRl
				bnRpZmllcllUaW1lU3RhbXBZRmlsZVRva2VuCIARgBKA
				AIAAgA+AC4AKgA2ADF8QJEIxOTEzREVFLUUyNkQtNEJC
				NS05ODc1LUU1RTJDRDE1NTYwRl8QD21hcmluYS13LXBv
				bmNob18QJDVERkY0NjMzLTIyQkItNDA1Qy05QTFGLTAy
				NDdFODAzOTVDRtIAWQAPAFoAW1dOUy50aW1lI0HEJzkT
				GbPPgA7SACYAJwBdAF5WTlNEYXRlogBdACvTAA0ADgAP
				AGAAYQBioKCAENIAJgAnAGQAZV8QE05TTXV0YWJsZURp
				Y3Rpb25hcnmjAGQAZgArXE5TRGljdGlvbmFyeV8QKi9V
				c2Vycy9raW1iZXJseWNoYW4vRG93bmxvYWRzL0lNR18z
				MjgxLkpQR9IAJgAnAGkAal5SV1NpdGVSZXNvdXJjZaIA
				awArXlJXU2l0ZVJlc291cmNl2gBDAEQADwBFAEYARwAX
				AEgASQBKAEsAbgBNAE4ATgByAHMAdAB1AHYIgBmAEoAA
				gACAGIAVgBSAF4AWXxAkNTY2QjBGMjEtMjJCQS00OENG
				LTk3MDQtNUNCMEIyMEI1NzgzW2dsYXNzLWJlYWNoXxAk
				RDk2RjBFQjUtOUUyQS00MTZGLUJCMkUtRDI4M0ZEODcz
				RjA50gBZAA8AewBbI0HEJzr4XU66gA7TAA0ADgAPAH4A
				fwBioKCAEF8QKi9Vc2Vycy9raW1iZXJseWNoYW4vRG93
				bmxvYWRzL0lNR18zODAxLkpQR9oAQwBEAA8ARQBGAEcA
				FwBIAEkASgBLAIQATQBOAE4AiACJAIoAiwCMCIAggBKA
				AIAAgB+AHIAbgB6AHV8QJDE5Mzc1MDM0LUI1MDMtNDQ3
				Ni1BMkQ1LTkyODI4RDMzMUUxQ18QEHBhY2lmaWNhLXBy
				b2ZpbGVfECRGODZCNkVEOC00Q0Y0LTRDQzUtQjFERC0w
				RkFEMEY4OUYwRjnSAFkADwCRAFsjQcQnQ1FDjKuADtMA
				DQAOAA8AlACVAGKgoIAQXxAqL1VzZXJzL2tpbWJlcmx5
				Y2hhbi9Eb3dubG9hZHMvSU1HXzA3MjkuSlBH2gBDAEQA
				DwBFAEYARwAXAEgASQBKAEsAmgBNAE4ATgCeAJ8AoACh
				AKIIgCeAEoAAgACAJoAjgCKAJYAkXxAkRjQ4NzQ4NjIt
				OTY0OS00MTNGLUJDRDYtRjI2MDU1MTZDOTA4XxARdGhh
				bmtzZ2l2aW5nLWZvb2RfECQ0MUE3QTBGQy03MTdFLTQ2
				MkYtQTdDRS00QjdBMkQ5M0QwOETSAFkADwCnAFsjQcQo
				BTGhVCyADtMADQAOAA8AqgCrAGKgoIAQXxArL1VzZXJz
				L2tpbWJlcmx5Y2hhbi9Eb3dubG9hZHMvSU1HXzExNjIu
				SEVJQ9oAQwBEAA8ARQBGAEcAFwBIAEkASgBLALAATQBO
				AE4AtAC1ALYAtwC4CIAugBKAAIAAgC2AKoApgCyAK18Q
				JEMyMjY4QjkxLUQ4Q0EtNDg4QS1BMDg0LTAxQkU4ODA3
				NTMyQl8QD2NoaWNrZW4tbWFyc2FsYV8QJEM4NDgyNkFB
				LTc3QzQtNDY5NC1CQTUwLTZDREVGQUNBMEI5NdIAWQAP
				AL0AWyNBxCgFMaP4kIAO0wANAA4ADwDAAMEAYqCggBBf
				EC0vVXNlcnMva2ltYmVybHljaGFuL0Rvd25sb2Fkcy9J
				TUdfMTE5NSAyLkhFSUPaAEMARAAPAEUARgBHABcASABJ
				AEoASwDGAE0ATgBOAMoAywDMAM0AzgiANYASgACAAIA0
				gDGAMIAzgDJfECRCRjhENEUxMS04RDg1LTQ3RTktOEI1
				RC1GMjAyRThBQzg4NTdeM2RiZW5jaHktd2hpdGVfECRE
				NzY2RDkzOC01N0FELTRCMEItQTg4Qy03NUMxMTg5RUZG
				QTfSAFkADwDTAFsjQcQoBTGkUQGADtMADQAOAA8A1gDX
				AGKgoIAQXxArL1VzZXJzL2tpbWJlcmx5Y2hhbi9Eb3du
				bG9hZHMvSU1HXzE0MTMuSEVJQ9oAQwBEAA8ARQBGAEcA
				FwBIAEkASgBLANwATQBOAE4A4ADhAOIA4wDkCIA8gBKA
				AIAAgDuAOIA3gDqAOV8QJDREMjEzQzg3LTk5ODItNDZC
				Ri1CMDBDLUY3Q0FCMjY4ODMyRFtiYWJ5LWRyYWdvbl8Q
				JDk1OTdDOUEwLUFFNDctNDhBMC04RUE0LTlDREQxMzM3
				RDcyRdIAWQAPAOkAWyNBxCgFMaSrF4AO0wANAA4ADwDs
				AO0AYqCggBBfECsvVXNlcnMva2ltYmVybHljaGFuL0Rv
				d25sb2Fkcy9JTUdfMjYxOS5IRUlD2gBDAEQADwBFAEYA
				RwAXAEgASQBKAEsA8gBNAE4ATgD2APcA+AD5APoIgEOA
				EoAAgACAQoA/gD6AQYBAXxAkRkU3Q0FFQTQtQjg1Ni00
				MjA4LTk1Q0YtMDZDMTE2QTlCRjQ2XxAQYmFtcGZhLW11
				cmFsMjAyMV8QJDE0QkU5QTBGLTZGQjctNDk1Qi1CRjQ3
				LUIzQ0JDMEY1RTI1OdIAWQAPAP8AWyNBxCgFMaUAk4AO
				0wANAA4ADwECAQMAYqCggBBfECsvVXNlcnMva2ltYmVy
				bHljaGFuL0Rvd25sb2Fkcy9JTUdfMzEzMS5IRUlD2gBD
				AEQADwBFAEYARwAXAEgASQBKAEsBCABNAE4ATgEMAQ0B
				DgEPARAIgEqAEoAAgACASYBGgEWASIBHXxAkOTYxMzE4
				QTItRDdCNy00MDRGLTgxRDctMURGMjM5RjE2RUYwXW1h
				cmluYS1zdW5zZXRfECRCQ0FFODc0Mi0wMjk5LTQyNEQt
				QjEzQi0zNzZGMjM4ODJFNUbSAFkADwEVAFsjQcQoBTGl
				ofmADtMADQAOAA8BGAEZAGKgoIAQXxArL1VzZXJzL2tp
				bWJlcmx5Y2hhbi9Eb3dubG9hZHMvSU1HXzMyMTAuSEVJ
				Q9oAQwBEAA8ARQBGAEcAFwBIAEkASgBLAR4ATQBOAE4B
				IgEjASQBJQEmCIBRgBKAAIAAgFCATYBMgE+ATl8QJDAz
				QTYyRjY0LTcxQUItNDg5MC05RkFBLTA5NjJDODlFNkYw
				QlhtZS1sbGFtYV8QJDk1NTg2QjAzLTA3MEUtNDFFRi1C
				RjMzLUM4RUM1MjhBMUM5MtIAWQAPASsAWyNBxCgFMaYF
				VYAO0wANAA4ADwEuAS8AYqCggBBfECsvVXNlcnMva2lt
				YmVybHljaGFuL0Rvd25sb2Fkcy9JTUdfMzMyMy5IRUlD
				2gBDAEQADwBFAEYARwAXAEgASQBKAEsBNABNAE4ATgE4
				ATkBOgE7ATwIgFiAEoAAgACAV4BUgFOAVoBVXxAkNjQ2
				MzEyMDMtRjhCNi00OTkxLTlBOEUtRUYzNEMxM0E4OEEy
				VHppb25fECQyRjUxMDI0Qi0yODI5LTQ5NzEtODk5RS00
				QUJGQUI2M0RDNzPSAFkADwFBAFsjQcQoBTGmUmWADtMA
				DQAOAA8BRAFFAGKgoIAQXxArL1VzZXJzL2tpbWJlcmx5
				Y2hhbi9Eb3dubG9hZHMvSU1HXzMzOTMuaGVpY9oAQwBE
				AA8ARQBGAEcAFwBIAEkASgBLAUoATQBOAE4BTgFPAVAB
				UQFSCIBfgBKAAIAAgF6AW4BagF2AXF8QJDU2QTlFMzlE
				LUJCQ0YtNDlDOC05RTIwLTI5OTFDQUZENDQzOF8QEzNk
				YmVuY2h5LWJsdWVtYXJibGVfECQyRDI4MjgwRS01QUFD
				LTQ1RkUtOTEwMS04MTFCMzBFOTUxRTnSAFkADwFXAFsj
				QcQoBTGmomaADtMADQAOAA8BWgFbAGKgoIAQXxArL1Vz
				ZXJzL2tpbWJlcmx5Y2hhbi9Eb3dubG9hZHMvSU1HXzM1
				NzcuSEVJQ9oAQwBEAA8ARQBGAEcAFwBIAEkASgBLAWAA
				TQBOAE4BZAFlAWYBZwFoCIBmgBKAAIAAgGWAYoBhgGSA
				Y18QJDc2ODM2RjAxLTVBREMtNEI1QS05NTAyLTY4OEM2
				QURDRDM2OFlhc2lhbi1hcnRfECQ4MjBDNDIzMS0xNEY1
				LTQ1QTUtQjc2OS1BMTIxOEZBM0ZFRjDSAFkADwFtAFsj
				QcQoBTGm+2+ADtMADQAOAA8BcAFxAGKgoIAQXxArL1Vz
				ZXJzL2tpbWJlcmx5Y2hhbi9Eb3dubG9hZHMvSU1HXzM2
				MzYuSEVJQ9oAQwBEAA8ARQBGAEcAFwBIAEkASgBLAXYA
				TQBOAE4BegF7AXwBfQF+CIBtgBKAAIAAgGyAaYBogGuA
				al8QJDYyMjczRjM1LTA2QzQtNEJCNS05OUJBLTgyRDBG
				NTNFN0QxN1xyZWR3b29kLWhpa2VfECQ4RjVEM0FFNi1D
				OUExLTQ0M0UtOTMzOC1DRjgyM0U1MTE1MDHSAFkADwGD
				AFsjQcQoBTGnWNWADtMADQAOAA8BhgGHAGKgoIAQXxAq
				L1VzZXJzL2tpbWJlcmx5Y2hhbi9Eb3dubG9hZHMvSU1H
				XzM4MDcuSlBH2gBDAEQADwBFAEYARwAXAEgASQBKAEsB
				jABNAE4ATgGQAZEBkgGTAZQIgHSAEoAAgACAc4BwgG+A
				coBxXxAkRkUwRDJBMEYtQjIxMC00Q0E3LUE2OUQtMkZC
				MDE3NDAxOUFEV2hvdC1wb3RfECRBN0UyNjhCNC0wRkM2
				LTQxOEMtODlDNi0xQUNDMTM5NkNBMELSAFkADwGZAFsj
				QcQoBTGnwTiADtMADQAOAA8BnAGdAGKgoIAQXxAqL1Vz
				ZXJzL2tpbWJlcmx5Y2hhbi9Eb3dubG9hZHMvSU1HXzM4
				NjcuSlBH2gBDAEQADwBFAEYARwAXAEgASQBKAEsBogBN
				AE4ATgGmAacBqAGpAaoIgHuAEoAAgACAeoB3gHaAeYB4
				XxAkOTI5MjQ3NTYtMzE2RS00MTY5LTg4MjMtNUM5RDZG
				REFENjc4XHZlcm5hbC1mYWxsc18QJDZGRkYxRjJFLTI2
				ODUtNDI1RS05MTBDLTI0QkVFN0E0RTU3RtIAWQAPAa8A
				WyNBxCgFMagoAoAO0wANAA4ADwGyAbMAYqCggBBfECsv
				VXNlcnMva2ltYmVybHljaGFuL0Rvd25sb2Fkcy9JTUdf
				MzkyNC5IRUlD2gBDAEQADwBFAEYARwAXAEgASQBKAEsB
				uABNAE4ATgG8Ab0BvgG/AcAIgIKAEoAAgACAgYB+gH2A
				gIB/XxAkMzA0Q0VFOEYtN0YxMi00MDZGLUJBREEtMUYx
				NkI5QjNGM0ZDXG5ldmFkYS1mYWxsc18QJDZDMUNENjFD
				LTA1NkYtNDcxMy1CRDE1LUMwODNBNEQ0OUM5N9IAWQAP
				AcUAWyNBxCgFMaiQ2IAO0wANAA4ADwHIAckAYqCggBBf
				ECovVXNlcnMva2ltYmVybHljaGFuL0Rvd25sb2Fkcy9J
				TUdfMzk2Ni5KUEfaAEMARAAPAEUARgBHABcASABJAEoA
				SwHOAE0ATgBOAdIB0wHUAdUB1giAiYASgACAAICIgIWA
				hICHgIZfECRCNjk1N0EzOS1CMjVFLTQ1MzktOERFNi00
				MzJENjNGRTBEMDhdc2FudGEtY3J1ei1tZV8QJERDQUJF
				M0JFLTZFMzYtNDdBNS04RThDLUFBQUQ1QkY1ODIzONIA
				WQAPAdsAWyNBxCgFMaj5wYAO0wANAA4ADwHeAd8AYqCg
				gBBfECsvVXNlcnMva2ltYmVybHljaGFuL0Rvd25sb2Fk
				cy9JTUdfNDI0MC5IRUlD2gBDAEQADwBFAEYARwAXAEgA
				SQBKAEsB5ABNAE4ATgHoAekB6gHrAewIgJCAEoAAgACA
				j4CMgIuAjoCNXxAkRDlCQjIwMDgtQjc1Qi00Njk1LUFD
				RjUtMTQyRkQzRjNDMTYyXHByb2ZpbGUyLmpwZ18QJDUy
				RkM1QTEwLTNEM0UtNDY0RS1BNThBLTU1MDcxRUFBNjhD
				MNIAWQAPAfEAWyNBxCgHciaXcoAO0wANAA4ADwH0AfUA
				YqCggBBfECgvVXNlcnMva2ltYmVybHljaGFuL0Rlc2t0
				b3AvcHJvZmlsZTIuanBn0gAmACcB+QH6XFJXU2l0ZUZv
				bGRlcqIB+wArXFJXU2l0ZUZvbGRlctIAJgAnAGYB/aIA
				ZgArAAgAGQAiACwAMQA6AD8AUQBWAFsAXQGGAYwBmQGh
				AawBswG2AbgBuwG9Ab8BxAHZAd4B5AHvAfgB+gH8Af4C
				AAICAikCOwJEAkUCRwJQAlsCZAJzAnoCggKLApQCvQK/
				AsECwwLFAscCyQLLAs0CzwLRAtMC1QLXAtkC2wLdAt8C
				4QLjAuUDDgMdAykDNgNEA1YDYQNrA3UDdgN4A3oDfAN+
				A4ADggOEA4YDiAOvA8ED6APxA/kEAgQEBA0EFAQZBCYE
				JwQoBCoEMwRJBFAEXQSKBJMEogSnBLYE3wTgBOIE5ATm
				BOgE6gTsBO4E8ATyBRkFJQVMBVUFXgVgBW0FbgVvBXEF
				ngXHBcgFygXMBc4F0AXSBdQF1gXYBdoGAQYUBjsGRAZN
				Bk8GXAZdBl4GYAaNBrYGtwa5BrsGvQa/BsEGwwbFBscG
				yQbwBwQHKwc0Bz0HPwdMB00HTgdQB34HpweoB6oHrAeu
				B7AHsge0B7YHuAe6B+EH8wgaCCMILAguCDsIPAg9CD8I
				bwiYCJkImwidCJ8IoQijCKUIpwipCKsI0gjhCQgJEQka
				CRwJKQkqCSsJLQlbCYQJhQmHCYkJiwmNCY8JkQmTCZUJ
				lwm+CcoJ8Qn6CgMKBQoSChMKFAoWCkQKbQpuCnAKcgp0
				CnYKeAp6CnwKfgqACqcKugrhCuoK8wr1CwILAwsECwYL
				NAtdC14LYAtiC2QLZgtoC2oLbAtuC3ALlwulC8wL1Qve
				C+AL7QvuC+8L8QwfDEgMSQxLDE0MTwxRDFMMVQxXDFkM
				WwyCDIsMsgy7DMQMxgzTDNQM1QzXDQUNLg0vDTENMw01
				DTcNOQ07DT0NPw1BDWgNbQ2UDZ0Npg2oDbUNtg23DbkN
				5w4QDhEOEw4VDhcOGQ4bDh0OHw4hDiMOSg5gDocOkA6Z
				DpsOqA6pDqoOrA7aDwMPBA8GDwgPCg8MDw4PEA8SDxQP
				Fg89D0cPbg93D4APgg+PD5APkQ+TD8EP6g/rD+0P7w/x
				D/MP9Q/3D/kP+w/9ECQQMRBYEGEQahBsEHkQehB7EH0Q
				qhDTENQQ1hDYENoQ3BDeEOAQ4hDkEOYRDREVETwRRRFO
				EVARXRFeEV8RYRGOEbcRuBG6EbwRvhHAEcIRxBHGEcgR
				yhHxEf4SJRIuEjcSORJGEkcSSBJKEngSoRKiEqQSphKo
				EqoSrBKuErASshK0EtsS6BMPExgTIRMjEzATMRMyEzQT
				YROKE4sTjROPE5ETkxOVE5cTmRObE50TxBPSE/kUAhQL
				FA0UGhQbFBwUHhRMFHUUdhR4FHoUfBR+FIAUghSEFIYU
				iBSvFLwU4xTsFPUU9xUEFQUVBhUIFTMVPBVJFU4VWxVk
				AAAAAAAAAgIAAAAAAAAB/gAAAAAAAAAAAAAAAAAAFWk=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<true/>
					<key>BannerIdentifier</key>
					<string>566B0F21-22BA-48CF-9704-5CB0B20B5783</string>
					<key>BaseURL</key>
					<string>https://kchan45.github.io/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2022 Kimberly Chan</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.html</string>
						<string>index.htm</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Theme Default</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>hasPublishedContent</key>
							<false/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Github Pages</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string>https://kchan45.github.io</string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>1</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteBannerAltText</key>
					<string>picture of me at the glass beach in northern california</string>
					<key>SiteLogoIdentifier</key>
					<string>D9BB2008-B75B-4695-ACF5-142FD3F3C162</string>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Artful</string>
					<key>TitleText</key>
					<string>Kimberly Chan's Personal Website</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>576D6AA1-C791-4355-A692-F98892AA8CAE_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAGlCwwRFx5VJG51bGzSDQ4PEFpkaWN0aW9u
					YXJ5ViRjbGFzc4ACgATTEhMOFBUWV05TLmtl
					eXNaTlMub2JqZWN0c6CggAPSGBkaG1okY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMaHB1cTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN00hgZHyBeV2ViSWNvblBhY2th
					Z2WiIR1eV2ViSWNvblBhY2thZ2UACAARABoA
					JAApADIANwBJAEwAUQBTAFkAXwBkAG8AdgB4
					AHoAgQCJAJQAlQCWAJgAnQCoALEAxwDLANgA
					4QDmAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>twitterAccount</key>
					<string>@savage_kchan</string>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
