<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict/>
				<key>RWFileReferences</key>
				<dict>
					<key>5DFF4633-22BB-405C-9A1F-0247E80395CF</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3281.JPG</string>
						<key>identifier</key>
						<string>5DFF4633-22BB-405C-9A1F-0247E80395CF</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-51039/UTZe6F/IMG_3281.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>D96F0EB5-9E2A-416F-BB2E-D283FD873F09</key>
					<dict>
						<key>fileName</key>
						<string>IMG_3801.JPG</string>
						<key>identifier</key>
						<string>D96F0EB5-9E2A-416F-BB2E-D283FD873F09</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-51039/kWoMiH/IMG_3801.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>F86B6ED8-4CF4-4CC5-B1DD-0FAD0F89F0F9</key>
					<dict>
						<key>fileName</key>
						<string>IMG_0729.JPG</string>
						<key>identifier</key>
						<string>F86B6ED8-4CF4-4CC5-B1DD-0FAD0F89F0F9</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/1c/skl_r4r95nv6lxgmkm3k2p4w0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-51039/jQloYF/IMG_0729.JPG</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGvECMLDBUWICEiJSwyRUZH
				SExPU1dYXGdoaWptcXJ9fn+Ag4eIjFUkbnVsbNMNDg8Q
				EhRXTlMua2V5c1pOUy5vYmplY3RzViRjbGFzc6ERgAKh
				E4ADgCJUbm9kZdUXGBkaDxscHR4fVE5hbWVVaXRlbXNa
				aWRlbnRpZmllclhjaGlsZHJlboAFgAiABIAGgCFfECQw
				MTBEOTczNC00MzFFLTQ4RDItQjBBQS04MzQ2Rjg4QzJF
				NEZfEA9VbnRpdGxlZCBGb2xkZXLSDg8jJKCAB9ImJygp
				WiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJy
				YXmjKCorV05TQXJyYXlYTlNPYmplY3TSDg8tJKMuLzCA
				CYATgBqAB9ozNA81NjcXODk6Ozw9Pj5AQUJDRF5SZW1v
				dGVSZXNvdXJjZVtPcmlnaW5hbFVSTFxQdWJsaXNoZWRV
				UkxdUHVibGlzaGVkRGF0ZV8QD0NoYW5nZWRTdGF0dXNl
				c1pJZGVudGlmaWVyWVRpbWVTdGFtcFlGaWxlVG9rZW4I
				gBGAEoAAgACAD4ALgAqADYAMXxAkQjE5MTNERUUtRTI2
				RC00QkI1LTk4NzUtRTVFMkNEMTU1NjBGXxAPbWFyaW5h
				LXctcG9uY2hvXxAkNURGRjQ2MzMtMjJCQi00MDVDLTlB
				MUYtMDI0N0U4MDM5NUNG0kkPSktXTlMudGltZSNBxCc5
				Exmzz4AO0iYnTU5WTlNEYXRlok0r0w0OD1BRUqCggBDS
				JidUVV8QE05TTXV0YWJsZURpY3Rpb25hcnmjVFYrXE5T
				RGljdGlvbmFyeV8QKi9Vc2Vycy9raW1iZXJseWNoYW4v
				RG93bmxvYWRzL0lNR18zMjgxLkpQR9ImJ1laXlJXU2l0
				ZVJlc291cmNlolsrXlJXU2l0ZVJlc291cmNl2jM0DzU2
				Nxc4OTo7Xj0+PmJjZGVmCIAZgBKAAIAAgBiAFYAUgBeA
				Fl8QJDU2NkIwRjIxLTIyQkEtNDhDRi05NzA0LTVDQjBC
				MjBCNTc4M1tnbGFzcy1iZWFjaF8QJEQ5NkYwRUI1LTlF
				MkEtNDE2Ri1CQjJFLUQyODNGRDg3M0YwOdJJD2tLI0HE
				Jzr4XU66gA7TDQ4Pbm9SoKCAEF8QKi9Vc2Vycy9raW1i
				ZXJseWNoYW4vRG93bmxvYWRzL0lNR18zODAxLkpQR9oz
				NA81NjcXODk6O3Q9Pj54eXp7fAiAIIASgACAAIAfgByA
				G4AegB1fECQxOTM3NTAzNC1CNTAzLTQ0NzYtQTJENS05
				MjgyOEQzMzFFMUNfEBBwYWNpZmljYS1wcm9maWxlXxAk
				Rjg2QjZFRDgtNENGNC00Q0M1LUIxREQtMEZBRDBGODlG
				MEY50kkPgUsjQcQnQ1FDjKuADtMNDg+EhVKgoIAQXxAq
				L1VzZXJzL2tpbWJlcmx5Y2hhbi9Eb3dubG9hZHMvSU1H
				XzA3MjkuSlBH0iYniYpcUldTaXRlRm9sZGVyoosrXFJX
				U2l0ZUZvbGRlctImJ1aNolYrAAgAEQAaACQAKQAyADcA
				SQBMAFEAUwB5AH8AhgCOAJkAoACiAKQApgCoAKoArwC6
				AL8AxQDQANkA2wDdAN8A4QDjAQoBHAEhASIBJAEpATQB
				PQFMAVABWAFhAWYBagFsAW4BcAFyAYcBlgGiAa8BvQHP
				AdoB5AHuAe8B8QHzAfUB9wH5AfsB/QH/AgECKAI6AmEC
				ZgJuAncCeQJ+AoUCiAKPApACkQKTApgCrgKyAr8C7ALx
				AwADAwMSAycDKAMqAywDLgMwAzIDNAM2AzgDOgNhA20D
				lAOZA6IDpAOrA6wDrQOvA9wD8QPyA/QD9gP4A/oD/AP+
				BAAEAgQEBCsEPgRlBGoEcwR1BHwEfQR+BIAErQSyBL8E
				wgTPBNQAAAAAAAACAQAAAAAAAACOAAAAAAAAAAAAAAAA
				AAAE1w==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<true/>
					<key>BannerIdentifier</key>
					<string>566B0F21-22BA-48CF-9704-5CB0B20B5783</string>
					<key>BaseURL</key>
					<string>https://kchan45.github.io/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2022 Kimberly Chan</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.html</string>
						<string>index.htm</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Theme Default</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>hasPublishedContent</key>
							<false/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Github Pages</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string>https://kchan45.github.io</string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>1</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteBannerAltText</key>
					<string>picture of me at the glass beach in northern california</string>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Artful</string>
					<key>TitleText</key>
					<string>Kimberly Chan's Personal Website</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>576D6AA1-C791-4355-A692-F98892AA8CAE_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAGlCwwRFx5VJG51bGzSDQ4PEFpkaWN0aW9u
					YXJ5ViRjbGFzc4ACgATTEhMOFBUWV05TLmtl
					eXNaTlMub2JqZWN0c6CggAPSGBkaG1okY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMaHB1cTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN00hgZHyBeV2ViSWNvblBhY2th
					Z2WiIR1eV2ViSWNvblBhY2thZ2UACAARABoA
					JAApADIANwBJAEwAUQBTAFkAXwBkAG8AdgB4
					AHoAgQCJAJQAlQCWAJgAnQCoALEAxwDLANgA
					4QDmAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>twitterAccount</key>
					<string>@savage_kchan</string>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
