<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>14BE9A0F-6FB7-495B-BF47-B3CBC0F5E259</string>
				<string>2D28280E-5AAC-45FE-9101-811B30E951E9</string>
				<string>2F51024B-2829-4971-899E-4ABFAB63DC73</string>
				<string>41A7A0FC-717E-462F-A7CE-4B7A2D93D08D</string>
				<string>52FC5A10-3D3E-464E-A58A-55071EAA68C0</string>
				<string>5DFF4633-22BB-405C-9A1F-0247E80395CF</string>
				<string>6C1CD61C-056F-4713-BD15-C083A4D49C97</string>
				<string>6FFF1F2E-2685-425E-910C-24BEE7A4E57F</string>
				<string>820C4231-14F5-45A5-B769-A1218FA3FEF0</string>
				<string>8F5D3AE6-C9A1-443E-9338-CF823E511501</string>
				<string>95586B03-070E-41EF-BF33-C8EC528A1C92</string>
				<string>9597C9A0-AE47-48A0-8EA4-9CDD1337D72E</string>
				<string>A7E268B4-0FC6-418C-89C6-1ACC1396CA0B</string>
				<string>BCAE8742-0299-424D-B13B-376F23882E5F</string>
				<string>C84826AA-77C4-4694-BA50-6CDEFACA0B95</string>
				<string>D766D938-57AD-4B0B-A88C-75C1189EFFA7</string>
				<string>D96F0EB5-9E2A-416F-BB2E-D283FD873F09</string>
				<string>DCABE3BE-6E36-47A5-8E8C-AAAD5BF58238</string>
				<string>F86B6ED8-4CF4-4CC5-B1DD-0FAD0F89F0F9</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Resources</string>
</dict>
</plist>
